@CHARSET "ISO-8859-1";
/****************************************************************************
CABEÇALHO [INÍCIO]
*****************************************************************************/

/****************************************************************************
LOGO DO SISTEMA
*****************************************************************************/
#logo{
	left: 0px;
	right: 0px;
	top: 0px;
	background-color: #464646;
	border-bottom: 1px solid white;
	width: 100%;
	height: 70px;
	position: absolute;
	vertical-align: middle;
	color: white;
}
#logoImage{
	background: url('/ponto/images/ponto-iconset.png') no-repeat -2px -231px;
	width: 63px;
	height: 63px;
	float: left;
}
#logo div.titulo{
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	float: left;
}
#divSair{
	float: right;
	margin-right: 1em;
	margin-top: 0.5em;
	font-weight: bold;
	background: url('/ponto/images/ponto-iconset.png') no-repeat -9px -301px;
	width: 47px;
	height: 48px;
	cursor: p
	
}
#divSair div{
	margin-top: 49px;
	text-align: center;
}
/****************************************************************************
MENU DO SISTEMA
*****************************************************************************/
#menu{
	left: 0px;
	right: 0px;
	top: 70px;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	float: left;
	display: block;
	width: 100%;
	cursor: pointer;
}
#menuPrincipal{
	float: left;
}
#menuFill{
	position: relative;
	height: 35px;
	right: 0px;
	margin-right: 0px;
	background-color: #464646;
	z-index: -1;
}
#menu div.menuItemPrincipal{
	height: 35px;
	width: 15em;
	float: left;
	display: block;
	border-right: 1px solid white;
}

#menu div.menuItemPrincipal div.menuTitulo{
	height: 35px;
	width: 15em;
	float: left;
	display: block;
	text-align: center;
}

#menu div.menuSubItem{
	border: 1px solid black;
	float: left;
	width: 140%;
	display: none;
	background-color: #464646;
}
#menu div.menuSubItem a{
	float: left;
	display: block;
	width: 100%;
	height: 2em;
	text-indent: 1em;
}
.menuSelectedItem{
	background-color: #2580A2;
}
/****************************************************************************
MENSAGENS
*****************************************************************************/
div.msgsContainer{
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	width: 70%;
	margin: 0px auto;
	margin-bottom: 1em;
	display: none;

}
div.itensMsg{
	margin-left: 100px;
	text-align: justify;
	float: left;
}
div.msgFechar{
	background-color: #EEEEEE;
	text-align: right;
	vertical-align: bottom;
	height: 3em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top:110px;
}

div.msgFechar input[type="button"]{
	margin-top: 1em;
}

#msgErroAviso{
	margin-left: 100px;
	
}
#imgSucesso{
	background: url('/ponto/images/ponto-iconset.png') no-repeat -101px -131px;
	width: 95px;
	height: 95px;
	float: left;
}
#imgErro{
	background: url('/ponto/images/ponto-iconset.png') no-repeat 0 -130px;
	width: 95px;
	height: 95px;
	float: left;
}
#msgsErroMinimizada{
	float: right;
	color: #530000;
	background: #FFBFBF;
	border: 2px solid #FF2424;
	background-position: left;
	text-indent: 20px;
	display: none;
	cursor: pointer;
}
#msgsErroMinimizada div{
	float: left;
}
#imgMsgsErroMinimizada{
	background: url('/ponto/images/ponto-iconset.png') no-repeat -13px -365px;
	width: 14px;
	height: 14px;
}
/****************************************************************************
CABEÇALHO [FIM]
*****************************************************************************/

/****************************************************************************
CORPO [INÍCIO]
*****************************************************************************/
/****************************************************************************
CORPO
*****************************************************************************/
body{
	font-family: arial, verdana, sans-serif;
	font-weight: normal;
	font-size: 13px;
	padding:0px;
	margin:0px;
	width: 100%;
}
#corpo{
	position: absolute;
	top: 110px;
	width: 100%;
	z-index: -1;
}
#bodyContent{ 
	width: 100%; 
	float: left;
}
#tituloPagina{
	background: url('/ponto/images/ponto-iconset.png')  no-repeat -82px -303px;
	width: 24px;
	height: 42px;

}
h1.titulo{
	text-align: justify;
	font-size: 2em; 
	font-weight: bold;
	text-indent: 1.3em;
}
p.mensagemAviso{
	margin-left: 1em;
	text-align: center;
	font-size: 2em; 
	font-weight: bold;
}

.ouch{
	background: url('/ponto/images/ponto-iconset.png') no-repeat -145px -12px;
	width: 113px;
	height: 116px;
	margin: 0px auto;
}
/****************************************************************************
FORMULÁRIO
*****************************************************************************/
form{
	width: 100%;
	text-align: center;
}
input[type="submit"], input[type="button"]{
	font-size: 20px;
	font-weight: bold;
}

/****************************************************************************
CORPO [FIM]
*****************************************************************************/
/****************************************************************************
RODAPÉ [INÍCIO]
*****************************************************************************/
#pnlConfirmarSaida{
	position: absolute;
	top: 111px;
	text-align: center;
	margin:0px 0px; padding:0px;
	float: left;
	width: 100%;
	display: none;
}
#frmSairDoSistema{
	background-color: #464646;
	color: #FFF;
	margin:0px auto;
	padding: 1em;
	width:200px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	font-weight: bold;
	font-size: 20px;
}
/****************************************************************************
RODAPÉ [FIM]
*****************************************************************************/
form.pontoForm{
	border-radius: 15px;
	-moz-border-radius: 15px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	background-color: #464646;
	color: #FFF;
	padding: 1em;
	text-align: left;
	margin: 0px auto;
}
form.pontoForm div.novaLinhaFormulario:last-child, div.novaLinhaFormulario:first-child{
	text-align: center;

}
div.novaLinhaFormulario{
	display: block;
	width: 100%;
	margin-top: 1em;
}
.lblCampoFormulario{
	font-weight: bold;
	width: 10em;
	margin-left: 1em;
	float:left;
}
input[type="text"], [type="password"]{
    height: 1em;
}
input[type="submit"], input[type="button"]{
	font-size: 20px;
	font-weight: bold;
}

